
<svg 
    class="zoom" 
    width="100%" 
    height="100%" 
    viewBox="-5 35 110 20"
    (mousemove)="mouse_move($event)"
    (mouseup)="mouse_up()"
>
    <g>
        <path class="slider" d="M0 50 L100 50" stroke="#7897b0"/>
        <circle class="cursor" attr.cx="{{cursor_position._}}" cy="50" r="5" fill="gray" stroke="#C5BE6C" (mousedown)="mouse_down_on_cursor()"/>
        <circle class="inner-cursor" attr.cx="{{cursor_position._}}" cy="50" r="2" fill="rgb(127, 8, 8)"/>
        <circle class="limit-slider" cx="-2" cy="50" r="2" fill="#C5BE6C"/>
        <circle class="limit-slider" cx="102" cy="50" r="2" fill="#C5BE6C"/>
        <circle class="inner-limit-slider" cx="-2" cy="50" r="0.5" fill="rgb(127, 8, 8)"/>
        <circle class="inner-limit-slider" cx="102" cy="50" r="0.5" fill="rgb(127, 8, 8)"/>
    </g>
</svg>