
<svg
    x="0"
    y="0"
    attr.width="{{window_width}}"
    attr.height="{{window_height}}"
    class="svg"
    tabindex="1"
    (mouseup)="mouse_up($event)"
    (mousemove)="mouse_move($event)"
    (keydown)="key_down($event)"
    (keyup)="key_up()"
    >
    
    <ng-container *ngFor="let dto of dtos">
        
        <path
            *ngIf="dto.type == 0" 
            class="container"
            id="{{dto.element.id}}"
            (mousedown)="mouse_down_on_container(dto.element)"
            (mouseover)="mouse_over_container(dto.element)"
            attr.d="
                M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
                L {{dto.element.positions.abs_ratio._[1]._[0]}} {{dto.element.positions.abs_ratio._[1]._[1]}} 
                L {{dto.element.positions.abs_ratio._[2]._[0]}} {{dto.element.positions.abs_ratio._[2]._[1]}} 
                L {{dto.element.positions.abs_ratio._[3]._[0]}} {{dto.element.positions.abs_ratio._[3]._[1]}} " 
        />

        <g>
            <path 
                *ngIf="dto.type == 1" 
                class="ligature"
                (mousedown)="mouse_down_on_ligature(dto.element)"
                attr.d="
                    M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
                    Q {{dto.element.positions.abs_ratio._[1]._[0]}},{{dto.element.positions.abs_ratio._[1]._[1]}}
                      {{dto.element.positions.abs_ratio._[2]._[0]}},{{dto.element.positions.abs_ratio._[2]._[1]}} "
            />

            <path
                class="grip"
                *ngIf="dto.type == 1" 
                class="grip"
                (mousedown)="mouse_down_on_grip(dto.element)"
                attr.d="
                    M {{dto.element.positions.abs_ratio._[0]._[0] - 5}} {{dto.element.positions.abs_ratio._[0]._[1] - 5}} 
                    L {{dto.element.positions.abs_ratio._[0]._[0] + 5}} {{dto.element.positions.abs_ratio._[0]._[1] - 5}} 
                    L {{dto.element.positions.abs_ratio._[0]._[0] + 5}} {{dto.element.positions.abs_ratio._[0]._[1] + 5}} 
                    L {{dto.element.positions.abs_ratio._[0]._[0] - 5}} {{dto.element.positions.abs_ratio._[0]._[1] + 5}} " 
            />

        </g>

        <path
        *ngIf="dto.type == 2" 
        class="root_choice"
        
        attr.d="
            M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
            L {{dto.element.positions.abs_ratio._[1]._[0]}} {{dto.element.positions.abs_ratio._[1]._[1]}} 
            L {{dto.element.positions.abs_ratio._[2]._[0]}} {{dto.element.positions.abs_ratio._[2]._[1]}} 
            L {{dto.element.positions.abs_ratio._[3]._[0]}} {{dto.element.positions.abs_ratio._[3]._[1]}} " 
        />

    </ng-container>

</svg>