

<svg width="0" height="0" xmlns='http://www.w3.org/2000/svg'>
    <defs>
        <filter id="paper-texture">
    
            <feTurbulence type="fractalNoise" baseFrequency='0.04' result='noise' numOctaves="5" />
                            
            <feDiffuseLighting in='noise' lighting-color='#fff' surfaceScale='1'>
        
                <feDistantLight azimuth='45' elevation='60' />
                
            </feDiffuseLighting>
        
        </filter>

        <filter id="container-texture">
    
            <feTurbulence type="fractalNoise" baseFrequency='0.04' result='noise' numOctaves="5" />
                            
            <feDiffuseLighting in='noise' lighting-color='#7897b0' surfaceScale='1'>
        
                <feDistantLight azimuth='45' elevation='60' />
                
            </feDiffuseLighting>
        
        </filter>

        <filter id="container-texture-selected">
    
            <feTurbulence type="fractalNoise" baseFrequency='0.04' result='noise' numOctaves="5" />
                            
            <feDiffuseLighting in='noise' lighting-color='orange' surfaceScale='1'>
        
                <feDistantLight azimuth='45' elevation='60' />
                
            </feDiffuseLighting>
        
        </filter>

        <filter id="root-choice-texture">
    
            <feTurbulence type="fractalNoise" baseFrequency='0.04' result='noise' numOctaves="5" />
                            
            <feDiffuseLighting in='noise' lighting-color='orange' surfaceScale='1'>
        
                <feDistantLight azimuth='45' elevation='60' />
                
            </feDiffuseLighting>
        
        </filter>

    </defs>
</svg>


<svg
    class="svg"
    x="0"
    y="0"
    attr.width="{{window_width}}"
    attr.height="{{window_height}}"
    tabindex="1"
    (mouseup)="mouse_up($event)"
    (mousemove)="mouse_move($event)"
    (keydown)="key_down($event)"
    (keyup)="key_up()"
    xmlns="http://www.w3.org/2000/svg"
    >

    <rect x="0" y="0" width="100%" height="100%" fill="#fff" filter="url(#paper-texture)" />

    <ng-container *ngFor="let dto of dtos">
        
        <path
            *ngIf="dto.type == 0" 
            class="container"
            id="{{dto.element.id}}"
            (mousedown)="mouse_down_on_container(dto.element)"
            (mouseover)="mouse_over_container(dto.element)"
            filter="url(#container-texture)"
            attr.d="
                M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
                L {{dto.element.positions.abs_ratio._[1]._[0]}} {{dto.element.positions.abs_ratio._[1]._[1]}} 
                L {{dto.element.positions.abs_ratio._[2]._[0]}} {{dto.element.positions.abs_ratio._[2]._[1]}} 
                L {{dto.element.positions.abs_ratio._[3]._[0]}} {{dto.element.positions.abs_ratio._[3]._[1]}} " 
        />

        <g>
            <path 
            *ngIf="dto.type == 1"
            id="{{dto.element.id}}" 
            class="ligature"
                (mousedown)="mouse_down_on_ligature(dto.element)"
                attr.d="
                    M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
                    Q {{dto.element.positions.abs_ratio._[1]._[0]}},{{dto.element.positions.abs_ratio._[1]._[1]}}
                      {{dto.element.positions.abs_ratio._[2]._[0]}},{{dto.element.positions.abs_ratio._[2]._[1]}} "
            />

            <g
                *ngIf="dto.type == 1" 
                class="grip"
                (mousedown)="mouse_down_on_grip(dto.element)"
            >
                <circle
                    class="grip-circle"
                    attr.cx="{{dto.element.positions.abs_ratio._[0]._[0]}}"
                    attr.cy="{{dto.element.positions.abs_ratio._[0]._[1]}}"
                    attr.r="{{1/15 * (dto.element.parent.positions.abs_ratio._[1]._[0] - dto.element.parent.positions.abs_ratio._[0]._[0])}}"
                />
            </g>

        </g>

    </ng-container>
    
    <ng-container *ngFor="let dto of roots_choices">

        <path
            *ngIf="dto.type == 2" 
            id="{{dto.element.flow}}"
            class="root_choice"
            (mousedown)="mouse_down_on_root_choice(dto.element)"
            filter="url(#root-choice-texture)"
            opacity="1"
            attr.d="
                M {{dto.element.positions.abs_ratio._[0]._[0]}} {{dto.element.positions.abs_ratio._[0]._[1]}} 
                L {{dto.element.positions.abs_ratio._[1]._[0]}} {{dto.element.positions.abs_ratio._[1]._[1]}} 
                L {{dto.element.positions.abs_ratio._[2]._[0]}} {{dto.element.positions.abs_ratio._[2]._[1]}} 
                L {{dto.element.positions.abs_ratio._[3]._[0]}} {{dto.element.positions.abs_ratio._[3]._[1]}} " 
        />

    </ng-container>

</svg>