
.svg {
    /* background-color: #D6DBDF; */
}

.container {
    /* fill: #7897b0; */
}

.grip-circle {
    
    /* fill:gray; */
    /* stroke:  rgb(127, 8, 8); */
    fill: #C5BE6C;
}

.ligature {
    stroke: blue;
    fill: transparent;
}

.root_choice{
    fill: rgb(127, 8, 8);
}

.container-selected
{
    fill: orange;
}