
<div class="menu">
    <ul>
        <li class="menu-item" (click)="click_on_delete_container()">delete container</li>
        <li class="menu-item" (click)="click_on_view_as_root()">view as root</li>
        <li class="menu-item" (click)="click_on_mark_as_root()">mark as root</li>
        <li class="menu-item" (click)="click_on_choose_root()">choose root</li>
        <li class="menu-item" (click)="click_on_paginate()">paginate</li>
        <li class="menu-item" (click)="click_on_link_roots()">link roots</li>
    </ul>
</div>