
.navigator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
    ".      up      ."
    "left   .       rigth"
    ".      down    .";

    width: 100px;
    height: 100px;
}

.left{
    grid-area: left;
}

.rigth {
    grid-area: rigth;
}

.up {
    grid-area: up;
    transform: rotate(90deg);
}

.down {
    grid-area: down;
    transform: rotate(-90deg);
}

