
<svg width="0" height="0" xmlns='http://www.w3.org/2000/svg'>
    <defs>
        <filter id="under-menu-texture">
    
            <feTurbulence type="fractalNoise" baseFrequency='0.04' result='noise' numOctaves="5" />
                            
            <feDiffuseLighting in='noise' lighting-color='#023d4c' surfaceScale='4'>
        
                <feDistantLight azimuth='45' elevation='60' />
                
            </feDiffuseLighting>
        
        </filter>
    </defs>
</svg>

<section class="under-menu">

    <svg width="100%" height="100%" class="menu-texture" xmlns='http://www.w3.org/2000/svg'>
    
        <rect class="under-menu-texture" x="0" y="0" width="100%" height="100%" fill="#fff" filter="url(#under-menu-texture)" />
    
    </svg>

    <app-back-view class="under-menu-view" *ngIf="current_view._ == 0"></app-back-view>
    <app-choose-root class="under-menu-view" *ngIf="current_view._ == 1"></app-choose-root>
    <app-paginate class="under-menu-view" *ngIf="current_view._ == 2"></app-paginate>
    <app-link-roots class="under-menu-view" *ngIf="current_view._ == 3"></app-link-roots>
</section>