
.aside
{
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.aside-texture
{
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
}

.aside-items
{
    cursor: crosshair;
}

.nav{
    height: 25%;
}